#formulaire {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

#InputEmail, #InputPassword {
    width : 30%;
}

#btnValider {
    width : 10%;
    background-color : grey;
    color : black;
}

#connect, #createpost, #postCadre {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

#postTitre, #postContenu {
    width : 40%;
}
